{% extends 'base.html' %}
{% load static %}
{% block title %}Update Department{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Update Department</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="depart_name"><strong>Department Name:</strong></label><br>
                <input type="text" name="depart_name" id="depart_name" value="{{ depart.depart_name }}" required>
            </div>
            <div>
                <label for="description"><strong>Department Description:</strong></label><br>
                <input type="text" name="description" id="description" value="{{ depart.description }}" required>
            </div>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}
